= form_for @shot, :html => {:multipart => true} do |f|
  - if @shot.errors.any?
    #error_explanation
      %h2= "#{pluralize(@shot.errors.count, "error")} prohibited this shot from being saved:"
      %ul
        - @shot.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :date
    = f.text_field :date, class: 'datepicker'
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :tonalrange
    = f.text_field :tonalrange
  .field
    = f.label :graduationcurve
    = f.text_field :graduationcurve
  .field
    = f.label :lens
    = f.text_field :lens
  .field
    = f.label :height
    = f.text_field :height
  .field
    = f.label :notes
    = f.text_area :notes, :rows => "2"
  .field
    = f.label :printed
    = f.check_box :printed
  .field
    = f.file_field :image
  .actions
    = f.hidden_field :job_id, value: @job.id
    = f.submit 'Save', class: 'btn'
