%p#notice= notice

%h4=link_to @shot.job.name, @shot.job

=image_tag @shot.image_url.to_s

%p
  %b Date:
  = @shot.date
%p
  %b Description:
  = @shot.description
%p
  %b Tonalrange:
  = @shot.tonalrange
%p
  %b Graduationcurve:
  = @shot.graduationcurve
%p
  %b Lens:
  = @shot.lens
%p
  %b Height:
  = @shot.height
%p
  %b Notes:
  = @shot.notes
%p
  %b Printed:
  = @shot.printed

= link_to 'Edit', edit_shot_path(@shot)
\|
= link_to 'Back', shots_path
