%h1 Listing jobs

%table.table.table-striped.table-bordered
  %tr
    %th Name
    %th Date
    / %th Notes
    %th Invoiced
    / %th Invoicenumber
    %th Tifhd
    %th Rawhd
    / %th Public
    %th
    %th
    %th
    %th

  - @jobs.each do |job|
    %tr
      %td= job.name
      %td= job.date
      / %td= job.notes
      %td= job.invoiced
      / %td= job.invoicenumber
      %td= job.tifhd
      %td= job.rawhd
      / %td= job.public
      %td= link_to 'New Shot', new_shot_path(job_id: job.id)
      %td= link_to 'View Shots', {controller: 'shots', job_id: job.id}
      / %td= link_to 'Show', job
      %td= link_to 'Edit', edit_job_path(job)
      %td= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' }

%br
= paginate @jobs
= link_to 'New Job', new_job_path
