%p#notice= notice
%h4=@job.name
=link_to 'new shot', new_shot_path(:job_id=> @job.id)
%p
  %b Client
  = @job.client.name
%p
  %b Name:
  = @job.name
%p
  =image_tag @job.thumbnail.url
%p
  %b Date:
  = @job.date
%p
  %b Notes:
  = @job.notes
%p
  %b Invoiced:
  = @job.invoiced
%p
  %b Invoicenumber:
  = @job.invoicenumber
%p
  %b Tifhd:
  = @job.tifhd
%p
  %b Rawhd:
  = @job.rawhd
%p
  %b Public:
  = @job.public

%p
  %h3 shots in this job
  %ul#shots.thumbnails
    - @job.shots.each do |shot|
      %li.thumbnail
        =image_tag shot.image_url.to_s

= form_for Shot.new do |f|
  = f.hidden_field :job_id , :value => @job.id
  = f.label :image, "Upload images:"
  = f.file_field :image, multiple: true, name: "shot[image]"

<script id="template-upload" type="text/x-tmpl">
<div class="upload">
{%=o.name%}
<div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>

= link_to 'Edit', edit_job_path(@job)
\|
= link_to 'Back', jobs_path
